<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Formulaire Etudiants</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="container mt-4">
     <h1 th:text="${etudiant.id} != null ? 'Modifier etudiant' : 'Créer etudiant'">Formulaire</h1>

    <form th:action="@{/etudiants}" th:object="${etudiant}" method="post">
        <input type="hidden" th:field="*{id}" />
        <div class="mb-3">
            <label class="form-label">Nom</label>
            <input type="text" th:field="*{nom}" class="form-control"/>
            <div class="text-danger" th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}"></div>
        </div>

        <div class="mb-3">
            <label class="form-label">prenom</label>
            <input type="text" th:field="*{prenom}" class="form-control"/>

            <div class="text-danger" th:if="${#fields.hasErrors('prenom')}" th:errors="*{prenom}"></div>
        </div>

        <div class="mb-3">
            <label class="form-label">Age</label>
            <input type="text" th:field="*{age}" class="form-control"/>
            <div class="text-danger" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></div>
        </div>

        <button type="submit" class="btn btn-primary">Enregistrer</button>
        <a href="/etudiants/list" class="btn btn-secondary">Annuler</a>
    </form>
</body>
</html>